# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django migrations (except for initial ones)
**/migrations/00*.py
**/migrations/00*.pyc

# IDE
.idea/
.vscode/
*.swp
*.swo
.env
*.md
*.sh
*.bat
*.exe

# OS
.DS_Store
Thumbs.db

# Flutter
**/*.g.dart
**/*.freezed.dart
/build/
/flutter_launcher_icons-web-icon-default.png
/flutter_launcher_icons-web-icon-maskable.png
/.dart_tool/
/.packages
/pubspec.lock
/pubspec_overrides.yaml

# Docker
.env
.Dockerfile
docker-compose.override.yml

# Backend specific
backend/media/
backend/staticfiles/
backend/db.sqlite3
backend/.env
.*md
frontend/README.md
